body{background-color: rgb(247, 253, 255);}
h1{font-weight: 1000;
}
.sign{margin:50px auto;
width: 400px;
background-color: rgb(247, 253, 255);
padding: 20px;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;}
.link {
    text-decoration: none;
}
.container{margin: 50px auto;
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding: 25px;
border-radius: 8px;
}
.inputbox { 
    border-radius: 10px;
padding: 10px;
margin: 10px 0;
width: 100%;
border: 1px solid #E9E9E9;
outline: none;}
button{ color: rgb(255, 255, 255);
    
width: 100%;
padding: 10px;
border-radius: 10px;
margin: 10px 0;
border: none;
outline: none;
font-size: 15px;
cursor: pointer;}
.signbtn{background-color: royalblue;}
hr{
    margin-top: 20px;
    width: 100%;
}
.or{background-color:rgb(255, 255, 255);
    width: max-content;
    margin: -20px auto 10px;
}
.socials ul {
    position: absolute;
    ;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    margin: 5px;
    display: flex;}
    .socials ul li {
        list-style: none;
        margin: 0 10px -25px 0;
        padding: 10px;
       border: 0px solid;
       box-shadow: 0px 7px 5px rgba(221, 217, 217, 0.5);
    }
   .content p{font-weight: bold;
font-family: Arial, Helvetica, sans-serif;}
.title {color: rgb(89, 120, 224);
    margin: 20px 0 -40px -140px ;
   height: 19px;
   font-size: 20px
;}
    h2{font-family: Arial, Helvetica, sans-serif
        ;
    font-weight: bolder;}